/* Definindo altura total e removendo margens do body e HTML */
html,
body {
  height: 100%;
  margin: 0;
}
/* Estilos da barra lateral */
.sidebar {
  width: 100%;
  height: 0;
  margin: 0;
  overflow: hidden;
  position: fixed;
  top: 0;
  left: 0%;
  background-image: linear-gradient(to top, rgb(0, 0, 0), rgb(56, 56, 56));
  transition: height 0.5s;
  z-index: 3;
}
/* Abre a barra lateral */
.sidebar-aberta {
  height: 100%;
}
/* Ajustes do conteúdo principal */
.conteudo {
  width: auto;
  margin-left: 0;
  height: 170px;
}
/* Estilos do botão da barra lateral */
.botao-sidebar-menu {
  position: fixed;
  top: 10px;
  left: 10px;
}
/* Ícone do menu */
.menu-icon {
  display: inline-block;
  cursor: pointer;
  font-size: 1.5rem;
  margin: 0 10px;
  color: rgb(0, 0, 0);
  padding: 10px;
}
/* Estilos para a lista de tópicos na barra lateral */
.topicos {
  list-style-type: none;
}

.lista1 {
  position: fixed;
  margin-top: 80px;
  margin-left: 60px;
}

.alista {
  display: none;
  color: rgb(255, 255, 255);
  text-decoration: none;
  padding: 4px 40px;
  font-size: 30px;
  text-align: left;
  transition: 0.25s;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
/* Estilos para os tópicos e caixas */
.topicos {
  margin-bottom: 58px;
}
/* Efeitos de hover para os links */
.alista:hover {
  font-size: 35px;
  text-decoration: underline;
}
 
#titulo1 {
  text-decoration: none;
  text-align: center;
  display: block;
  padding: 0px 5px;
  font-size: 45px;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.introducao {
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  border: 4px;
}
/* Estilos para a logo */
.logo {
  display: flex;
  justify-content: center;
  align-items:topicos-container center;
}

#logoindex {
  margin-top: 6%;
  height: 18vh;
  width: 18vh;
}



/* Estilos para os contêineres de tópicos */
.topicos-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 10px;
}

.lista-topicos {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
}

.row {
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
}
/* Efeitos de hover para as caixas de tópicos */
.box {
  position: relative;
  width: 300px;
  height: 300px;
  margin: 30px;
  display: flex;
  background-color: rgb(196, 196, 196);
  justify-content: center;
  align-items: center;
  font-size: 25px;
  color: #fff;
  border-radius: 5px;
  transition: 250ms ease;
}

.box:hover {
  width: 325px;
  height: 325px;
  transition: 250ms ease;
  background-size: 325px;
}

.box a {
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  display: block;
  color: #fff;
  text-decoration: none;
  z-index: 2;
}
/* Estilos para as imagens após o hover nas caixas de tópicos */
#boxpitagoras::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  filter: blur(3px);
  z-index: -1;
  background-image: url(imagenstopicos/pitagoras.jpg);
  background-blend-mode: darken;
  background-color: rgb(180, 180, 180);
  background-size: 325px;
  z-index: 1;
  transition: 250ms ease;
}
/* Efeitos de hover para as imagens após o hover nas caixas de tópicos */
#boxpitagoras:hover::after {
  filter: none;
  transition: 250ms ease;
  transform: scale(1.00);
  border-radius: 5px;
}

#boxbhaskara::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  filter: blur(3px);
  z-index: -1;
  background-image: url(imagenstopicos/bhaskara.jpg);
  background-blend-mode: darken;
  background-color: rgb(180, 180, 180);
  background-size: 325px;
  z-index: 1;
  transition: 250ms ease;
}

#boxbhaskara:hover::after {
  filter: none;
  transition: 250ms ease;
  transform: scale(1.00);
  border-radius: 5px;
}

#boxvelocidademedia::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  filter: blur(3px);
  z-index: -1;
  background-image: url(imagenstopicos/velocidademedia.jpg);
  background-blend-mode: darken;
  background-color: rgb(180, 180, 180);
  background-size: 325px;
  z-index: 1;
  transition: 250ms ease;
}

#boxvelocidademedia:hover::after {
  filter: none;
  transition: 250ms ease;
  transform: scale(1.00);
  border-radius: 5px;
}

#boximc::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  filter: blur(3px);
  z-index: -1;
  background-image: url(imagenstopicos/imc.png);
  background-blend-mode: darken;
  background-color: rgb(180, 180, 180);
  background-size: 325px;
  z-index: 1;
  transition: 250ms ease;
}

#boximc:hover::after {
  filter: none;
  transition: 250ms ease;
  transform: scale(1.00);
  border-radius: 5px;
}

#boxradiciacao::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  filter: blur(3px);
  z-index: -1;
  background-image: url(imagenstopicos/radiciacao.png);
  background-blend-mode: darken;
  background-color: rgb(180, 180, 180);
  background-size: 325px;
  z-index: 1;
  transition: 250ms ease;
}

#boxpotenciacao:hover::after {
  filter: none;
  transition: 250ms ease;
  transform: scale(1.00);
  border-radius: 5px;
}

#boxpotenciacao::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  filter: blur(3px);
  z-index: -1;
  background-image: url(imagenstopicos/potenciacao.png);
  background-blend-mode: darken;
  background-color: rgb(180, 180, 180);
  background-size: 325px;
  z-index: 1;
  transition: 250ms ease;
}

#boxradiciacao:hover::after {
  filter: none;
  transition: 250ms ease;
  transform: scale(1.00);
  border-radius: 5px;
}

#boxareapoligono::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  filter: blur(3px);
  z-index: -1;
  background-image: url(imagenstopicos/areapoligono.png);
  background-blend-mode: darken;
  background-color: rgb(180, 180, 180);
  background-size: 325px;
  z-index: 1;
  transition: 250ms ease;
}

#boxareapoligono:hover::after {
  filter: none;
  transition: 250ms ease;
  transform: scale(1.00);
  border-radius: 5px;
}

/*----------------------------- tópico 1: --------------------------------*/


.cabecalho {
  background-color: #f2f2f2;
  padding: 10px;
}

.conteudo {
  margin-top: 20px;
}
/* Estilos para o rodapé */
footer {
  background-color: #f2f2f2;
  padding: 20px 0;
}

.container {
  max-width: 100%;
  margin: 0 auto;
  text-align: center;
}

.rodape {
  color: #888;
  font-size: 14px;
}
/* Estilos para um retângulo específico. */
.retangulo {
  width: 700px;
  height: 950px;
  border: 1px solid #000;
  margin: 100px auto;
  padding: 20px;
  box-sizing: border-box;
  font-size: 18px;
}
/* Estilos para um parágrafo específico do tópico Pitágoras */
.paragrafopitagoras {
  margin-top: 4%;
  margin-left: 3%;
  margin-bottom: 2%;
  margin-right: 2%;
}
/* Estilos para um retângulo específico do tópico IMC */
#retangulo-imc {
  width: 700px;
  height: 1000px;
  border: 1px solid #000;
  margin: 100px auto;
  padding: 20px;
  box-sizing: border-box;
  font-size: 18px;
}

.cabecalho {
  background-color: #f2f2f2;
  padding: 10px;
  text-align: center;
}

.conteudo {
  margin-top: 20px;
}
